/* Main CSS File - Import all other CSS files */

/* Base Styles */
@import "base/reset.css";
@import "base/variables.css";
@import "base/typography.css";

/* Layout */
@import "layouts/containers.css";

/* Components */
@import "components/buttons.css";
@import "components/navbar.css";
@import "components/cards.css";
@import "components/footer.css";

/* Pages */
@import "pages/home.css";
@import "pages/about.css";
@import "pages/contact.css";
@import "pages/temples.css";
@import "pages/artisans.css";
@import "pages/profile.css";

.three-lines-text{
    text-overflow: ellipsis;
      overflow: hidden;
      line-height: 20px;
      max-height: 100px;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }